In [1]:
import os
import streamlit as st
import pandas as pd
import json
import requests
import psycopg2
import plotly.express as py
from IPython.display import IFrame

In [2]:
#Aggregated Insurance
path = "C:\\Users\\karth\\OneDrive\\Desktop\\Cap_Project1\\PhonePe Project\\pulse\\data\\aggregated\\insurance\\country\\india\\state\\"
Aggregated_Insurance_base = os.listdir(path)


Tables = [{"States": [], "Years": [], "payment_mode": [], "Counts": [], "Amounts": [], "Payment_names": [], "Quarter": []}]


for states in Aggregated_Insurance_base:
    Aggregated_Insurance_states =path + states + "\\"
    Aggregated_Insurance_years = os.listdir(Aggregated_Insurance_states)

    for years in Aggregated_Insurance_years:
        Aggregated_Insurance_Year_Path = Aggregated_Insurance_states + years + "\\"
        Aggregated_Insurance_File_list = os.listdir(Aggregated_Insurance_Year_Path)
        
        for files in Aggregated_Insurance_File_list:
            Aggregated_Insurance_Files = Aggregated_Insurance_Year_Path + files
            Data = open(Aggregated_Insurance_Files, "r")
            J = json.load(Data)
            


            for details in J["data"]["transactionData"]:
                Name = details["name"]
                Count = details["paymentInstruments"][0]["count"]
                Amount = details["paymentInstruments"][0]["amount"]

                Tables[0]["States"].append(states)
                Tables[0]["Years"].append(years)
                Tables[0]["payment_mode"].append("TOTAL")  
                Tables[0]["Counts"].append(Count)
                Tables[0]["Amounts"].append(Amount)
                Tables[0]["Payment_names"].append(Name)
                Tables[0]["Quarter"].append(int(files.strip(".json")))

Aggregated_Insurance_DataFrame = pd.DataFrame(Tables[0])
Aggregated_Insurance_DataFrame["States"] = Aggregated_Insurance_DataFrame["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Aggregated_Insurance_DataFrame["States"] = Aggregated_Insurance_DataFrame["States"].str.replace("-", " ")
Aggregated_Insurance_DataFrame["States"] = Aggregated_Insurance_DataFrame["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
Aggregated_Insurance_DataFrame["States"] = Aggregated_Insurance_DataFrame["States"].str.title()

In [3]:
Aggregated_Insurance_DataFrame

,States,Years,payment_mode,Counts,Amounts,Payment_names,Quarter
0,Andaman & Nicobar,2020,TOTAL,6,1360.0,Insurance,2
1,Andaman & Nicobar,2020,TOTAL,41,15380.0,Insurance,3
2,Andaman & Nicobar,2020,TOTAL,124,157975.0,Insurance,4
3,Andaman & Nicobar,2021,TOTAL,225,244266.0,Insurance,1
4,Andaman & Nicobar,2021,TOTAL,137,181504.0,Insurance,2
...,...,...,...,...,...,...,...
533,West Bengal,2022,TOTAL,54277,70466433.0,Insurance,4
534,West Bengal,2023,TOTAL,56833,77461732.0,Insurance,1
535,West Bengal,2023,TOTAL,49792,65204280.0,Insurance,2
536,West Bengal,2023,TOTAL,58131,76359312.0,Insurance,3
537,West Bengal,2023,TOTAL,72712,100365562.0,Insurance,4

In [4]:
#Aggregated Transaction

path2 = "C:\\Users\\karth\\OneDrive\\Desktop\\Cap_Project1\\PhonePe Project\\pulse\\data\\aggregated\\transaction\\country\\india\\state\\"
Aggregated_Transaction_base = os.listdir(path2)


Tables2 = [{"States": [], "Years": [], "payment_mode": [], "Counts": [], "Amounts": [], "Payment_names": [], "Quarter": []}]


for states2 in Aggregated_Transaction_base:
    Aggregated_Transaction_states =path2 + states2 + "\\"
    Aggregated_Transaction_years = os.listdir(Aggregated_Transaction_states)

    for years2 in Aggregated_Transaction_years:
        Aggregated_Transaction_Year_Path = Aggregated_Transaction_states + years2 + "\\"
        Aggregated_Transaction_File_list = os.listdir(Aggregated_Transaction_Year_Path)
        
        for files2 in Aggregated_Transaction_File_list:
            Aggregated_Transaction_Files = Aggregated_Transaction_Year_Path + files2
            Data2 = open(Aggregated_Transaction_Files, "r")
            J2 = json.load(Data2)


            for details2 in J2["data"]["transactionData"]:
                Name = details2["name"]
                Count = details2["paymentInstruments"][0]["count"]
                Amount = details2["paymentInstruments"][0]["amount"]

                Tables2[0]["States"].append(states2)
                Tables2[0]["Years"].append(years2)
                Tables2[0]["payment_mode"].append("TOTAL")  # Assuming payment mode is constant
                Tables2[0]["Counts"].append(Count)
                Tables2[0]["Amounts"].append(Amount)
                Tables2[0]["Payment_names"].append(Name)
                Tables2[0]["Quarter"].append(int(files2.strip(".json")))

Aggregated_Transaction_DataFrame = pd.DataFrame(Tables2[0])
Aggregated_Transaction_DataFrame["States"] = Aggregated_Transaction_DataFrame["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Aggregated_Transaction_DataFrame["States"] = Aggregated_Transaction_DataFrame["States"].str.replace("-", " ")
Aggregated_Transaction_DataFrame["States"] = Aggregated_Transaction_DataFrame["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
Aggregated_Transaction_DataFrame["States"] = Aggregated_Transaction_DataFrame["States"].str.title()

In [5]:
Aggregated_Transaction_DataFrame

,States,Years,payment_mode,Counts,Amounts,Payment_names,Quarter
0,Andaman & Nicobar,2018,TOTAL,4200,1.845307e+06,Recharge & bill payments,1
1,Andaman & Nicobar,2018,TOTAL,1871,1.213866e+07,Peer-to-peer payments,1
2,Andaman & Nicobar,2018,TOTAL,298,4.525072e+05,Merchant payments,1
3,Andaman & Nicobar,2018,TOTAL,33,1.060142e+04,Financial Services,1
4,Andaman & Nicobar,2018,TOTAL,256,1.846899e+05,Others,1
...,...,...,...,...,...,...,...
4309,West Bengal,2023,TOTAL,354067997,2.390738e+11,Merchant payments,4
4310,West Bengal,2023,TOTAL,317959249,9.641385e+11,Peer-to-peer payments,4
4311,West Bengal,2023,TOTAL,64920775,4.531943e+10,Recharge & bill payments,4
4312,West Bengal,2023,TOTAL,480740,4.590073e+08,Financial Services,4
4313,West Bengal,2023,TOTAL,524477,4.041567e+08,Others,4

In [6]:
#Aggregated user
path3 = "C:\\Users\\karth\\OneDrive\\Desktop\\Cap_Project1\\PhonePe Project\\pulse\\data\\aggregated\\user\\country\\india\\state\\"
Aggregated_user_base = os.listdir(path3)


Tables3 = [{"Brands": [], "Counts": [], "Percentages": [], "States": [], "Years": [], "Quarter": []}]


for states3 in Aggregated_user_base:
    Aggregated_user_states =path3 + states3 + "\\"
    Aggregated_user_years = os.listdir(Aggregated_user_states)

    for years3 in Aggregated_user_years:
        Aggregated_user_Year_Path = Aggregated_user_states + years3 + "\\"
        Aggregated_user_File_list = os.listdir(Aggregated_user_Year_Path)
        
        for files3 in Aggregated_user_File_list:
            Aggregated_user_Files = Aggregated_user_Year_Path + files3
            Data3 = open(Aggregated_user_Files, "r")
            J3 = json.load(Data3)
        
            try:
                for details3 in J3["data"]["usersByDevice"]:
                    Brand = details3["brand"]
                    Count = details3["count"]
                    Percentage = details3["percentage"]
                    Tables3[0]["Brands"].append(Brand)
                    Tables3[0]["Counts"].append(Count)
                    Tables3[0]["Percentages"].append(Percentage)
                    Tables3[0]["States"].append(states3)
                    Tables3[0]["Years"].append(years3)
                    Tables3[0]["Quarter"].append(int(files3.strip(".json")))
                    
                    Aggregated_User_DataFrame = pd.DataFrame(Tables3[0])

            except:
                pass

Aggregated_User_DataFrame = pd.DataFrame(Tables3[0])

Aggregated_User_DataFrame["States"] = Aggregated_User_DataFrame["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Aggregated_User_DataFrame["States"] = Aggregated_User_DataFrame["States"].str.replace("-", " ")
Aggregated_User_DataFrame["States"] = Aggregated_User_DataFrame["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
Aggregated_User_DataFrame["States"] = Aggregated_User_DataFrame["States"].str.title()

In [7]:
Aggregated_User_DataFrame

       Brands   Counts  Percentages             States Years  Quarter
0      Xiaomi     1665     0.247033  Andaman & Nicobar  2018        1
1     Samsung     1445     0.214392  Andaman & Nicobar  2018        1
2        Vivo      982     0.145697  Andaman & Nicobar  2018        1
3        Oppo      501     0.074332  Andaman & Nicobar  2018        1
4     OnePlus      332     0.049258  Andaman & Nicobar  2018        1
...       ...      ...          ...                ...   ...      ...
6727   Lenovo   330017     0.015056        West Bengal  2022        1
6728  Infinix   284678     0.012987        West Bengal  2022        1
6729     Asus   280347     0.012790        West Bengal  2022        1
6730    Apple   277752     0.012671        West Bengal  2022        1
6731   Others  2196334     0.100199        West Bengal  2022        1

[6732 rows x 6 columns]

In [8]:
#Map Insurance
path4 = "C:\\Users\\karth\\OneDrive\\Desktop\\Cap_Project1\\PhonePe Project\\pulse\\data\\map\\insurance\\hover\\country\\india\\state\\"
Map_Insurance_base = os.listdir(path4)

Tables4 = [{"District_Name": [], "Amounts": [], "Counts": [], "Percentages": [], "States": [], "Years": [], "Quarter": []}]


for states4 in Map_Insurance_base:
    Map_Insurance_states =path4 + states4 + "\\"
    Map_Insurance_years = os.listdir(Map_Insurance_states)

    for years4 in Map_Insurance_years:
        Map_Insurance_Year_Path = Map_Insurance_states + years4 + "\\"
        Map_Insurance_File_list = os.listdir(Map_Insurance_Year_Path)
        
        for files4 in Map_Insurance_File_list:
            Map_Insurance_Files = Map_Insurance_Year_Path + files4
            Data4 = open(Map_Insurance_Files, "r")
            J4 = json.load(Data4)
            

            for details4 in J4["data"]["hoverDataList"]:
                Name = details4["name"]
                Map_Count = details4["metric"][0]["count"]
                Map_Amount = details4["metric"][0]["amount"]
                Tables4[0]["District_Name"].append(Name)
                Tables4[0]["Amounts"].append(Map_Amount)
                Tables4[0]["Counts"].append(Map_Count)
                Tables4[0]["Percentages"].append(Percentage)
                Tables4[0]["States"].append(states4)
                Tables4[0]["Years"].append(years4)
                Tables4[0]["Quarter"].append(int(files4.strip(".json")))

Map_Insurance_DataFrame = pd.DataFrame(Tables4[0])

Map_Insurance_DataFrame["States"] = Map_Insurance_DataFrame["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Map_Insurance_DataFrame["States"] = Map_Insurance_DataFrame["States"].str.replace("-", " ")
Map_Insurance_DataFrame["States"] = Map_Insurance_DataFrame["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
Map_Insurance_DataFrame["States"] = Map_Insurance_DataFrame["States"].str.title()
Map_Insurance_DataFrame["District_Name"] = Map_Insurance_DataFrame["District_Name"].str.title()

In [9]:
Map_Insurance_DataFrame

,District_Name,Amounts,Counts,Percentages,States,Years,Quarter
0,South Andaman District,795.0,3,0.100199,Andaman & Nicobar,2020,2
1,Nicobars District,565.0,3,0.100199,Andaman & Nicobar,2020,2
2,North And Middle Andaman District,281.0,1,0.100199,Andaman & Nicobar,2020,3
3,South Andaman District,13651.0,35,0.100199,Andaman & Nicobar,2020,3
4,Nicobars District,1448.0,5,0.100199,Andaman & Nicobar,2020,3
...,...,...,...,...,...,...,...
10823,Nadia District,4012958.0,2786,0.100199,West Bengal,2023,4
10824,Birbhum District,1720043.0,1162,0.100199,West Bengal,2023,4
10825,Purba Medinipur District,3400040.0,2507,0.100199,West Bengal,2023,4
10826,Maldah District,3998317.0,2886,0.100199,West Bengal,2023,4
10827,Darjiling District,4044883.0,2762,0.100199,West Bengal,2023,4

In [10]:
#Map Transaction
path5 = "C:\\Users\\karth\\OneDrive\\Desktop\\Cap_Project1\\PhonePe Project\\pulse\\data\\map\\transaction\\hover\\country\\india\\state\\"
Map_transaction_base = os.listdir(path5)

Tables5= [{"District_Name": [], "Amounts": [], "Counts": [], "Percentages": [], "States": [], "Years": [], "Quarter": []}]


for states5 in Map_transaction_base:
    Map_transaction_states =path5 + states5 + "\\"
    Map_transaction_years = os.listdir(Map_transaction_states)

    for years5 in Map_transaction_years:
        Map_transaction_Year_Path = Map_transaction_states + years5 + "\\"
        Map_transaction_File_list = os.listdir(Map_transaction_Year_Path)
        
        for files5 in Map_transaction_File_list:
            Map_transaction_Files = Map_transaction_Year_Path + files5
            Data5 = open(Map_transaction_Files, "r")
            J5 = json.load(Data5)

            for details5 in J5["data"]["hoverDataList"]:
                Name = details5["name"]
                Map_Count = details5["metric"][0]["count"]
                Map_Amount = details5["metric"][0]["amount"]
                Tables5[0]["District_Name"].append(Name)
                Tables5[0]["Amounts"].append(Map_Amount)
                Tables5[0]["Counts"].append(Map_Count)
                Tables5[0]["Percentages"].append(Percentage)
                Tables5[0]["States"].append(states5)
                Tables5[0]["Years"].append(years5)
                Tables5[0]["Quarter"].append(int(files5.strip(".json")))

Map_Transaction_DataFrame = pd.DataFrame(Tables5[0])

Map_Transaction_DataFrame["States"] = Map_Transaction_DataFrame["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Map_Transaction_DataFrame["States"] = Map_Transaction_DataFrame["States"].str.replace("-", " ")
Map_Transaction_DataFrame["States"] = Map_Transaction_DataFrame["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
Map_Transaction_DataFrame["States"] = Map_Transaction_DataFrame["States"].str.title()
Map_Transaction_DataFrame["District_Name"] = Map_Transaction_DataFrame["District_Name"].str.title()

In [11]:
Map_Transaction_DataFrame

,District_Name,Amounts,Counts,Percentages,States,Years,Quarter
0,North And Middle Andaman District,9.316631e+05,442,0.100199,Andaman & Nicobar,2018,1
1,South Andaman District,1.256025e+07,5688,0.100199,Andaman & Nicobar,2018,1
2,Nicobars District,1.139849e+06,528,0.100199,Andaman & Nicobar,2018,1
3,North And Middle Andaman District,1.317863e+06,825,0.100199,Andaman & Nicobar,2018,2
4,South Andaman District,2.394824e+07,9395,0.100199,Andaman & Nicobar,2018,2
...,...,...,...,...,...,...,...
17559,Nadia District,6.879568e+10,36242432,0.100199,West Bengal,2023,4
17560,Birbhum District,3.690499e+10,20708496,0.100199,West Bengal,2023,4
17561,Purba Medinipur District,7.981990e+10,40572042,0.100199,West Bengal,2023,4
17562,Maldah District,6.416729e+10,34654950,0.100199,West Bengal,2023,4
17563,Darjiling District,2.793986e+10,16807885,0.100199,West Bengal,2023,4

In [12]:
#Map User

path6 = "C:\\Users\\karth\\OneDrive\\Desktop\\Cap_Project1\\PhonePe Project\\pulse\\data\\map\\user\\hover\\country\\india\\state\\"
Map_user_base = os.listdir(path6)

Tables6 = [{"District_Name": [], "AppOpens": [], "Registers": [], "Percentages": [], "States": [], "Years": [], "Quarter": []}]


for states6 in Map_user_base:
    Map_user_states =path6 + states6 + "\\"
    Map_user_years = os.listdir(Map_user_states)

    for years6 in Map_user_years:
        Map_user_Year_Path = Map_user_states + years6 + "\\"
        Map_user_File_list = os.listdir(Map_user_Year_Path)
        
        for files6 in Map_user_File_list:
            Map_user_Files = Map_user_Year_Path + files6
            Data6 = open(Map_user_Files, "r")
            J6 = json.load(Data6)

            for details6 in J6["data"]["hoverData"].items():
                District = details6[0]
                Register = details6[1]["registeredUsers"]
                AppOpen = details6[1]["appOpens"]
                Tables6[0]["District_Name"].append(District)
                Tables6[0]["AppOpens"].append(AppOpen)
                Tables6[0]["Registers"].append(Register)
                Tables6[0]["Percentages"].append(Percentage)
                Tables6[0]["States"].append(states6)
                Tables6[0]["Years"].append(years6)
                Tables6[0]["Quarter"].append(int(files6.strip(".json")))

Map_User_DataFrame = pd.DataFrame(Tables6[0])

Map_User_DataFrame["States"] = Map_User_DataFrame["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Map_User_DataFrame["States"] = Map_User_DataFrame["States"].str.replace("-", " ")
Map_User_DataFrame["States"] = Map_User_DataFrame["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
Map_User_DataFrame["States"] = Map_User_DataFrame["States"].str.title()
Map_User_DataFrame["District_Name"] = Map_User_DataFrame["District_Name"].str.title()

In [13]:
Map_User_DataFrame

,District_Name,AppOpens,Registers,Percentages,States,Years,Quarter
0,North And Middle Andaman District,0,632,0.100199,Andaman & Nicobar,2018,1
1,South Andaman District,0,5846,0.100199,Andaman & Nicobar,2018,1
2,Nicobars District,0,262,0.100199,Andaman & Nicobar,2018,1
3,North And Middle Andaman District,0,911,0.100199,Andaman & Nicobar,2018,2
4,South Andaman District,0,8143,0.100199,Andaman & Nicobar,2018,2
...,...,...,...,...,...,...,...
17563,Nadia District,67224546,1603527,0.100199,West Bengal,2023,4
17564,Birbhum District,52281841,1013025,0.100199,West Bengal,2023,4
17565,Purba Medinipur District,69991821,1589203,0.100199,West Bengal,2023,4
17566,Maldah District,88292475,1134600,0.100199,West Bengal,2023,4
17567,Darjiling District,39079247,660231,0.100199,West Bengal,2023,4

In [14]:
#Top Insurance
path7 = "C:\\Users\\karth\\OneDrive\\Desktop\\Cap_Project1\\PhonePe Project\\pulse\\data\\top\\insurance\\country\\india\\state\\"
Top_Insurance_base = os.listdir(path7)


Tables7 = [{"EntityName": [], "Counts": [], "Amounts": [], "Percentages": [], "States": [], "Years": [], "Quarter": []}]


for states7 in Top_Insurance_base:
    Top_Insurance_states =path7 + states7 + "\\"
    Top_Insurance_years = os.listdir(Top_Insurance_states)

    for years7 in Top_Insurance_years:
        Top_Insurance_Year_Path = Top_Insurance_states + years7 + "\\"
        Top_Insurance_File_list = os.listdir(Top_Insurance_Year_Path)
        
        for files7 in Top_Insurance_File_list:
            Top_Insurance_Files = Top_Insurance_Year_Path + files7
            Data7 = open(Top_Insurance_Files, "r")
            J7 = json.load(Data7)

            for details7 in J7["data"]["pincodes"]:
                Entity = details7["entityName"]
                Count = details7["metric"]["count"]
                Amount = details7["metric"]["amount"]
                Tables7[0]["EntityName"].append(Entity)
                Tables7[0]["Counts"].append(Count)
                Tables7[0]["Amounts"].append(Amount)
                Tables7[0]["Percentages"].append(Percentage)
                Tables7[0]["States"].append(states7)
                Tables7[0]["Years"].append(years7)
                Tables7[0]["Quarter"].append(int(files7.strip(".json")))

Top_Insurance_DataFrame = pd.DataFrame(Tables7[0])

Top_Insurance_DataFrame["States"] = Top_Insurance_DataFrame["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Top_Insurance_DataFrame["States"] = Top_Insurance_DataFrame["States"].str.replace("-", " ")
Top_Insurance_DataFrame["States"] = Top_Insurance_DataFrame["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
Top_Insurance_DataFrame["States"] = Top_Insurance_DataFrame["States"].str.title()

In [15]:
Top_Insurance_DataFrame

,EntityName,Counts,Amounts,Percentages,States,Years,Quarter
0,744301,3,565.0,0.100199,Andaman & Nicobar,2020,2
1,744104,2,513.0,0.100199,Andaman & Nicobar,2020,2
2,744101,1,282.0,0.100199,Andaman & Nicobar,2020,2
3,744112,9,3432.0,0.100199,Andaman & Nicobar,2020,3
4,744105,7,3948.0,0.100199,Andaman & Nicobar,2020,3
...,...,...,...,...,...,...,...
5244,700135,556,939622.0,0.100199,West Bengal,2023,4
5245,700091,535,767163.0,0.100199,West Bengal,2023,4
5246,700015,521,683025.0,0.100199,West Bengal,2023,4
5247,700059,518,843045.0,0.100199,West Bengal,2023,4
5248,711102,517,769517.0,0.100199,West Bengal,2023,4

In [16]:
#Top Transaction
path8 = "C:\\Users\\karth\\OneDrive\\Desktop\\Cap_Project1\\PhonePe Project\\pulse\\data\\top\\transaction\\country\\india\\state\\"
Top_Transaction_base = os.listdir(path8)

Tables8 = [{"EntityName": [], "Counts": [], "Amounts": [], "Percentages": [], "States": [], "Years": [], "Quarter": []}]


for states8 in Top_Transaction_base:
    Top_Transaction_states =path8 + states8 + "\\"
    Top_Transaction_years = os.listdir(Top_Transaction_states)

    for years8 in Top_Transaction_years:
        Top_Transaction_Year_Path = Top_Transaction_states + years8 + "\\"
        Top_Transaction_File_list = os.listdir(Top_Transaction_Year_Path)
        
        for files8 in Top_Transaction_File_list:
            Top_Transaction_Files = Top_Transaction_Year_Path + files8
            Data8 = open(Top_Transaction_Files, "r")
            J8 = json.load(Data8)

            for details8 in J8["data"]["pincodes"]:
                Entity = details8["entityName"]
                Count = details8["metric"]["count"]
                Amount = details8["metric"]["amount"]
                Tables8[0]["EntityName"].append(Entity)
                Tables8[0]["Counts"].append(Count)
                Tables8[0]["Amounts"].append(Amount)
                Tables8[0]["Percentages"].append(Percentage)
                Tables8[0]["States"].append(states8)
                Tables8[0]["Years"].append(years8)
                Tables8[0]["Quarter"].append(int(files8.strip(".json")))

Top_Transaction_DataFrame = pd.DataFrame(Tables8[0])

Top_Transaction_DataFrame["States"] = Top_Transaction_DataFrame["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Top_Transaction_DataFrame["States"] = Top_Transaction_DataFrame["States"].str.replace("-", " ")
Top_Transaction_DataFrame["States"] = Top_Transaction_DataFrame["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
Top_Transaction_DataFrame["States"] = Top_Transaction_DataFrame["States"].str.title()

In [17]:
Top_Transaction_DataFrame

,EntityName,Counts,Amounts,Percentages,States,Years,Quarter
0,744101,1622,2.769298e+06,0.100199,Andaman & Nicobar,2018,1
1,744103,1223,2.238042e+06,0.100199,Andaman & Nicobar,2018,1
2,744102,969,3.519060e+06,0.100199,Andaman & Nicobar,2018,1
3,744105,685,1.298561e+06,0.100199,Andaman & Nicobar,2018,1
4,744104,340,1.039715e+06,0.100199,Andaman & Nicobar,2018,1
...,...,...,...,...,...,...,...
8562,721301,4133775,5.718222e+09,0.100199,West Bengal,2023,4
8563,700001,3983241,8.039689e+09,0.100199,West Bengal,2023,4
8564,732125,3950411,6.557345e+09,0.100199,West Bengal,2023,4
8565,700039,3742452,5.608622e+09,0.100199,West Bengal,2023,4
8566,700014,3652710,6.184795e+09,0.100199,West Bengal,2023,4

In [18]:
#Top User
path9 = "C:\\Users\\karth\\OneDrive\\Desktop\\Cap_Project1\\PhonePe Project\\pulse\\data\\top\\user\\country\\india\\state\\"
Top_User_base = os.listdir(path9)

Tables9 = [{"EntityName": [], "RegisteredUsers": [], "Percentages": [], "States": [], "Years": [], "Quarter": []}]


for states9 in Top_User_base:
    Top_User_states =path9 + states9 + "\\"
    Top_User_years = os.listdir(Top_User_states)

    for years9 in Top_User_years:
        Top_User_Year_Path = Top_User_states + years9 + "\\"
        Top_User_File_list = os.listdir(Top_User_Year_Path)
        
        for files9 in Top_User_File_list:
            Top_User_Files = Top_User_Year_Path + files9
            Data9 = open(Top_User_Files, "r")
            J9 = json.load(Data9)

            for details9 in J9["data"]["pincodes"]:
                Entity_Name = details9["name"]
                Registeredusers = details9["registeredUsers"]
                Tables9[0]["EntityName"].append(Entity_Name)
                Tables9[0]["RegisteredUsers"].append(Registeredusers)
                Tables9[0]["Percentages"].append(Percentage)
                Tables9[0]["States"].append(states9)
                Tables9[0]["Years"].append(years9)
                Tables9[0]["Quarter"].append(int(files9.strip(".json")))

Top_User_DataFrame = pd.DataFrame(Tables9[0])

Top_User_DataFrame["States"] = Top_User_DataFrame["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
Top_User_DataFrame["States"] = Top_User_DataFrame["States"].str.replace("-", " ")
Top_User_DataFrame["States"] = Top_User_DataFrame["States"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
Top_User_DataFrame["States"] = Top_User_DataFrame["States"].str.title()

In [19]:
Top_User_DataFrame

,EntityName,RegisteredUsers,Percentages,States,Years,Quarter
0,744103,1608,0.100199,Andaman & Nicobar,2018,1
1,744101,1108,0.100199,Andaman & Nicobar,2018,1
2,744105,1075,0.100199,Andaman & Nicobar,2018,1
3,744102,1006,0.100199,Andaman & Nicobar,2018,1
4,744104,272,0.100199,Andaman & Nicobar,2018,1
...,...,...,...,...,...,...
8563,700015,126663,0.100199,West Bengal,2023,4
8564,742304,123320,0.100199,West Bengal,2023,4
8565,721101,123088,0.100199,West Bengal,2023,4
8566,700150,119283,0.100199,West Bengal,2023,4
8567,700091,118578,0.100199,West Bengal,2023,4

## SQL TABLE CREATION

In [74]:
#Sql Connection
#Aggregated Insurance
connection = psycopg2.connect(
    database="PhonePe",
    user="postgres",
    password="kk07ch30",
    host="localhost",
    port="5432"
)

Mycursor = connection.cursor()

create_query = '''create table if not exists Aggregated_Insurance(
States varchar(300),
Years int,
payment_mode varchar(100),
Counts bigint,
Amounts bigint,
Payment_names varchar(300),
Quarter int
)'''

Mycursor.execute(create_query)
connection.commit()


insert_query = '''INSERT INTO Aggregated_Insurance (States, Years, payment_mode, Counts, Amounts, Payment_names, Quarter)
                  VALUES (%s, %s, %s, %s, %s, %s, %s)'''


data = Aggregated_Insurance_DataFrame.values.tolist()
Mycursor.executemany(insert_query, data)
connection.commit()

In [75]:
#Sql Connection
#Aggregated Transaction
connection = psycopg2.connect(
    database="PhonePe",
    user="postgres",
    password="kk07ch30",
    host="localhost",
    port="5432"
)

Mycursor = connection.cursor()

create_query = '''create table if not exists Aggregated_Transaction(
States varchar(300),
Years int,
payment_mode varchar(100),
Counts bigint,
Amounts bigint,
Payment_names varchar(300),
Quarter int
)'''

Mycursor.execute(create_query)
connection.commit()


insert_query = '''INSERT INTO Aggregated_Transaction(States, Years, payment_mode, Counts, Amounts, Payment_names, Quarter)
                  VALUES (%s, %s, %s, %s, %s, %s, %s)'''


data = Aggregated_Transaction_DataFrame.values.tolist()
Mycursor.executemany(insert_query, data)
connection.commit()

In [76]:
#Sql Connection
#Aggregated User
connection = psycopg2.connect(
    database="PhonePe",
    user="postgres",
    password="kk07ch30",
    host="localhost",
    port="5432"
)

Mycursor = connection.cursor()

create_query = '''create table if not exists Aggregated_User(
Brands varchar(300),
Counts bigint,
Percentages DECIMAL,
States varchar(300),
Years int,
Quarter int
)'''

Mycursor.execute(create_query)
connection.commit()


insert_query = '''INSERT INTO Aggregated_User(Brands, Counts, Percentages, States, Years, Quarter)
                  VALUES (%s, %s, %s, %s, %s, %s)'''


data = Aggregated_User_DataFrame.values.tolist()
Mycursor.executemany(insert_query, data)
connection.commit()

In [24]:
#Sql Connection
#Map Insurance
connection = psycopg2.connect(
    database="PhonePe",
    user="postgres",
    password="kk07ch30",
    host="localhost",
    port="5432"
)

Mycursor = connection.cursor()

create_query = '''create table if not exists Map_Insurance(
District_Name varchar(300),
Amounts bigint,
Counts bigint ,
Percentages DECIMAL,
States varchar(300),
Years int,
Quarter int
)'''

Mycursor.execute(create_query)
connection.commit()


insert_query = '''INSERT INTO Map_Insurance(District_Name, Amounts, Counts, Percentages, States, Years, Quarter)
                  VALUES (%s, %s, %s, %s, %s, %s, %s)'''


data = Map_Insurance_DataFrame.values.tolist()
Mycursor.executemany(insert_query, data)
connection.commit()

In [21]:
#Sql Connection
#Map Transaction
connection = psycopg2.connect(
    database="PhonePe",
    user="postgres",
    password="kk07ch30",
    host="localhost",
    port="5432"
)

Mycursor = connection.cursor()

create_query = '''create table if not exists Map_Transaction(
District_Name varchar(300),
Amounts bigint,
Counts bigint,
Percentages DECIMAL,
States varchar(300),
Years int,
Quarter int
)'''

Mycursor.execute(create_query)
connection.commit()


insert_query = '''INSERT INTO Map_Transaction(District_Name, Amounts, Counts, Percentages, States, Years, Quarter)
                  VALUES (%s, %s, %s, %s, %s, %s, %s)'''


data = Map_Transaction_DataFrame.values.tolist()
Mycursor.executemany(insert_query, data)
connection.commit()

In [79]:
#Sql Connection
#Map user
connection = psycopg2.connect(
    database="PhonePe",
    user="postgres",
    password="kk07ch30",
    host="localhost",
    port="5432"
)

Mycursor = connection.cursor()

create_query = '''create table if not exists Map_user(
District_Name varchar(300),
AppOpens int,
Registers int,
Percentages DECIMAL,
States varchar(300),
Years int,
Quarter int
)'''

Mycursor.execute(create_query)
connection.commit()


insert_query = '''INSERT INTO Map_user(District_Name, AppOpens, Registers, Percentages, States, Years, Quarter)
                  VALUES (%s, %s, %s, %s, %s, %s, %s)'''


data = Map_User_DataFrame.values.tolist()
Mycursor.executemany(insert_query, data)
connection.commit()

In [35]:
#Sql Connection
#Top Insurance
connection = psycopg2.connect(
    database="PhonePe",
    user="postgres",
    password="kk07ch30",
    host="localhost",
    port="5432"
)

Mycursor = connection.cursor()

create_query = '''create table if not exists Top_Insurance(
EntityName int,
Counts int,
Amounts DECIMAL ,
Percentages DECIMAL,
States varchar(300),
Years int,
Quarter int
)'''

Mycursor.execute(create_query)
connection.commit()


insert_query = '''INSERT INTO Top_Insurance(EntityName, Counts, Amounts, Percentages, States, Years, Quarter)
                  VALUES (%s, %s, %s, %s, %s, %s, %s)'''


data = Top_Insurance_DataFrame.values.tolist()
Mycursor.executemany(insert_query, data)
connection.commit()

In [20]:
#Sql Connection
#Top Transaction
connection = psycopg2.connect(
    database="PhonePe",
    user="postgres",
    password="kk07ch30",
    host="localhost",
    port="5432"
)

Mycursor = connection.cursor()

create_query = '''create table if not exists Top_Transaction(
EntityName int,
Counts int,
Amounts bigint,
Percentages DECIMAL,
States varchar(300),
Years int,
Quarter int
)'''

Mycursor.execute(create_query)
connection.commit()


insert_query = '''INSERT INTO Top_Transaction(EntityName, Counts, Amounts, Percentages, States, Years, Quarter)
                  VALUES (%s, %s, %s, %s, %s, %s, %s)'''


data = Top_Transaction_DataFrame.values.tolist()
Mycursor.executemany(insert_query, data)
connection.commit()

In [82]:
#Sql Connection
#Top User
connection = psycopg2.connect(
    database="PhonePe",
    user="postgres",
    password="kk07ch30",
    host="localhost",
    port="5432"
)

Mycursor = connection.cursor()

create_query = '''create table if not exists Top_User(
EntityName int,
RegisteredUsers int,
Percentages DECIMAL,
States varchar(300),
Years int,
Quarter int
)'''

Mycursor.execute(create_query)
connection.commit()


insert_query = '''INSERT INTO Top_User(EntityName, RegisteredUsers, Percentages, States, Years, Quarter)
                  VALUES (%s, %s, %s, %s, %s, %s)'''


data = Top_User_DataFrame.values.tolist()
Mycursor.executemany(insert_query, data)
connection.commit()

## Data Frame Conversion FOR SQL

In [21]:
#Data Frame Conversion
connection = psycopg2.connect(
    database="PhonePe",
    user="postgres",
    password="kk07ch30",
    host="localhost",
    port="5432"
)

Mycursor = connection.cursor()


#Aggregated_Insurance_DF
Mycursor.execute("Select * from aggregated_insurance")
connection.commit()
A = Mycursor.fetchall()

A_I_DF = pd.DataFrame(A, columns=("States","Years", "payment_mode", "Counts", "Amounts", "Payment_names", "Quarter"))


#Aggregated_Transaction_DF
Mycursor.execute("Select * from aggregated_transaction")
connection.commit()
B = Mycursor.fetchall()

A_T_DF = pd.DataFrame(B, columns=("States","Years", "payment_mode", "Counts", "Amounts", "Payment_names", "Quarter"))


#Aggregated_User_DF
Mycursor.execute("Select * from aggregated_user")
connection.commit()
C = Mycursor.fetchall()

A_U_DF = pd.DataFrame(C, columns=("Brands","Counts", "Percentages", "States", "Years", "Quarter"))


#Map_Insurance_DF
Mycursor.execute("Select * from map_insurance")
connection.commit()
D = Mycursor.fetchall()

M_I_DF = pd.DataFrame(D, columns=("District_Name","Amounts", "Counts", "Percentages", "States", "Years", "Quarter"))


#Map_Transaction_DF
Mycursor.execute("Select * from map_transaction")
connection.commit()
E = Mycursor.fetchall()

M_T_DF = pd.DataFrame(E, columns=("District_Name","Amounts", "Counts", "Percentages", "States", "Years", "Quarter"))


#Map_User_DF
Mycursor.execute("Select * from map_user")
connection.commit()
F = Mycursor.fetchall()

M_U_DF = pd.DataFrame(F, columns=("District_Name","AppOpens", "Registers", "Percentages", "States", "Years", "Quarter"))


#Top_Insurance_DF
Mycursor.execute("Select * from top_insurance")
connection.commit()
G = Mycursor.fetchall()

T_I_DF = pd.DataFrame(G, columns=("EntityName","Counts", "Amounts", "Percentages", "States", "Years", "Quarter"))


#Top_Transaction_DF
Mycursor.execute("Select * from top_transaction")
connection.commit()
H = Mycursor.fetchall()

T_T_DF = pd.DataFrame(H, columns=("EntityName","Counts", "Amounts", "Percentages", "States", "Years", "Quarter"))


#Top_User_DF
Mycursor.execute("Select * from top_user")
connection.commit()
I = Mycursor.fetchall()

T_U_DF = pd.DataFrame(I, columns=("EntityName","RegisteredUsers", "Percentages", "States", "Years", "Quarter"))

## SQL QUESTIONS

In [19]:
#Chart - Questions and Answers
def Get_TopChart_Amounts(sql):
    connection = psycopg2.connect(
        database="PhonePe",
        user="postgres",
        password="kk07ch30",
        host="localhost",
        port="5432"
    )

    Mycursor = connection.cursor()

    query1 = f'''
    select states,
    sum(amounts) as "Transacation Amount"
    from {sql}
    group by states
    order by "Transacation Amount" desc
    limit 5'''

    Mycursor.execute(query1)
    sql1 = Mycursor.fetchall()
    connection.commit()

    DFQ1 = pd.DataFrame(sql1, columns= ("States", "Transacation Amount"))
    DFQ1.index = range(1,len(DFQ1) + 1)

    presentation_amount_Sql1 = py.bar(DFQ1, x="States", y="Transacation Amount", color_discrete_sequence=['purple'], title=f"Top 5 Transaction Amounts from {sql}")
    presentation_amount_Sql1.show()

In [20]:
#Chart - Questions and Answers
def Get_BottomChart_Amounts(sql):
    connection = psycopg2.connect(
        database="PhonePe",
        user="postgres",
        password="kk07ch30",
        host="localhost",
        port="5432"
    )

    Mycursor = connection.cursor()

    query2 = f'''
    select states,
    sum(amounts) as "Transacation Amount"
    from {sql}
    group by states
    order by "Transacation Amount"
    limit 5'''

    Mycursor.execute(query2)
    sql2 = Mycursor.fetchall()
    connection.commit()

    DFQ2 = pd.DataFrame(sql2, columns= ("States", "Transacation Amount"))
    DFQ2.index = range(1,len(DFQ2) + 1)

    presentation_amount_Sql2 = py.bar(DFQ2, x="States", y="Transacation Amount", color_discrete_sequence=['purple'], title="Bottom 5 Transaction")
    st.plotly_chart(presentation_amount_Sql2)

In [21]:
#Chart - Questions and Answers
def Get_AVGChart_Amounts(sql):
    connection = psycopg2.connect(
        database="PhonePe",
        user="postgres",
        password="kk07ch30",
        host="localhost",
        port="5432"
    )

    Mycursor = connection.cursor()

    query3 = f'''
    select states,
    avg(amounts) as "Transacation Amount"
    from {sql}
    group by states
    order by "Transacation Amount"'''

    Mycursor.execute(query3)
    Sql3 = Mycursor.fetchall()
    connection.commit()

    DFQ3 = pd.DataFrame(Sql3, columns= ("States", "Transacation Amount"))
    DFQ3.index = range(1,len(DFQ3) + 1)

    presentation_amount_Sql3 = py.bar(DFQ3, x="States", y="Transacation Amount", color_discrete_sequence=['purple'], title=f"Average Transaction Amounts from {sql}")
    st.plotly_chart(presentation_amount_Sql3)

In [22]:
#Chart - Questions and Answers
def Get_ALLChart_Counts(sql):
    connection = psycopg2.connect(
        database="PhonePe",
        user="postgres",
        password="kk07ch30",
        host="localhost",
        port="5432"
    )

    Mycursor = connection.cursor()

    query1 = f'''
    select states,
    sum(counts) as "Transacation Count"
    from {sql}
    group by states
    order by "Transacation Count" desc
    limit 5'''

    Mycursor.execute(query1)
    sql1 = Mycursor.fetchall()
    connection.commit()

    DFQ1 = pd.DataFrame(sql1, columns= ("States", "Transacation Amount"))
    DFQ1.index = range(1,len(DFQ1) + 1)

    presentation_amount_Sql1 = py.bar(DFQ1, x="States", y="Transacation Amount", color_discrete_sequence=['purple'], title=f"Top 5 Transaction Counts from {sql}")
    st.plotly_chart(presentation_amount_Sql1)


    query2 = f'''
    select states,
    sum(counts) as "Transacation Count"
    from {sql}
    group by states
    order by "Transacation Count"
    limit 5'''

    Mycursor.execute(query2)
    Sql2 = Mycursor.fetchall()
    connection.commit()

    DFQ2 = pd.DataFrame(Sql2, columns= ("States", "Transacation Amount"))
    DFQ2.index = range(1,len(DFQ2) + 1)

    presentation_amount_Sql2 = py.bar(DFQ2, x="States", y="Transacation Amount", color_discrete_sequence=['purple'], title=f"Bottom 5 Transaction Counts from {sql}")
    st.plotly_chart(presentation_amount_Sql2)


    query3 = f'''
    select states,
    avg(counts) as "Transacation Count"
    from {sql}
    group by states
    order by "Transacation Count"'''

    Mycursor.execute(query3)
    Sql3 = Mycursor.fetchall()
    connection.commit()

    DFQ3 = pd.DataFrame(Sql3, columns= ("States", "Transacation Amount"))
    DFQ3.index = range(1,len(DFQ3) + 1)

    presentation_amount_Sql3 = py.bar(DFQ3, x="States", y="Transacation Amount", color_discrete_sequence=['purple'], title=f"Average Transaction Counts from {sql}")
    st.plotly_chart(presentation_amount_Sql3)

In [85]:
#Chart - Questions and Answers
def Get_ALLChart_Registers(sql, state = None):
    connection = psycopg2.connect(
        database="PhonePe",
        user="postgres",
        password="kk07ch30",
        host="localhost",
        port="5432"
    )

    Mycursor = connection.cursor()

    query1 = f'''
    select states,district_name,
    sum(registers) as total_registered_users
    from {sql}
    where states = '{state}'
    group by states, district_name
    order by total_registered_users desc
    limit 10;'''

    Mycursor.execute(query1)
    sql1 = Mycursor.fetchall()
    connection.commit()

    DFQ1 = pd.DataFrame(sql1, columns=("States", "District", "RegisteredUsers"))
    DFQ1.index = range(1, len(DFQ1) + 1)

    presentation_amount_Sql1 = py.bar(DFQ1, x="District", y="RegisteredUsers",
                                      hover_name="States", color_discrete_sequence=['purple'],
                                      title=f"Top 10 RegisteredUsers from {state}")
    presentation_amount_Sql1.show()

    query2 = f'''
    select states,district_name,
    sum(registers) as total_registered_users
    from {sql}
    where states = '{state}'
    group by states, district_name
    order by total_registered_users
    limit 10;'''

    Mycursor.execute(query2)
    sql2 = Mycursor.fetchall()
    connection.commit()

    DFQ2 = pd.DataFrame(sql2, columns=("States", "District", "RegisteredUsers"))
    DFQ2.index = range(1, len(DFQ2) + 1)

    presentation_amount_Sql2 = py.bar(DFQ2, x="District", y="RegisteredUsers",
                                       hover_name="States", color_discrete_sequence=['purple'],
                                       title=f"Bottom 10 RegisteredUsers from {state}")
    presentation_amount_Sql2.show()

    query3 = f'''
    select states,district_name,
    avg(registers) as avg_registered_users
    from {sql}
    where states = '{state}'
    group by states, district_name;'''

    Mycursor.execute(query3)
    sql3 = Mycursor.fetchall()
    connection.commit()

    DFQ3 = pd.DataFrame(sql3, columns=("States", "District", "RegisteredUsers"))
    DFQ3.index = range(1, len(DFQ3) + 1)

    presentation_amount_Sql3 = py.bar(DFQ3, x="District", y="RegisteredUsers",
                                       hover_name="States", color_discrete_sequence=['purple'],
                                       width=1000, height=600, title=f"Average RegisteredUsers from {state}")
    presentation_amount_Sql3.show()

    query4 = f'''
    select states,district_name,
    sum(registers) as total_registered_users
    from {sql}
    group by states, district_name
    order by total_registered_users desc
    limit 10;'''

    Mycursor.execute(query4)
    sql4 = Mycursor.fetchall()
    connection.commit()

    DFQ4 = pd.DataFrame(sql4, columns=("States", "District", "RegisteredUsers"))
    DFQ4.index = range(1, len(DFQ4) + 1)

    presentation_amount_Sql4 = py.bar(DFQ4, x="District", y="RegisteredUsers",
                                       hover_name="States", color_discrete_sequence=['purple'],
                                       title="Top 10 RegisteredUsers from all States")
    presentation_amount_Sql4.show()

    query5 = f'''
    select states,district_name,
    sum(registers) as total_registered_users
    from {sql}
    group by states, district_name
    order by total_registered_users
    limit 10;'''

    Mycursor.execute(query5)
    sql5 = Mycursor.fetchall()
    connection.commit()

    DFQ5 = pd.DataFrame(sql5, columns=("States", "District", "RegisteredUsers"))
    DFQ5.index = range(1, len(DFQ5) + 1)

    presentation_amount_Sql5 = py.bar(DFQ5, x="District", y="RegisteredUsers",
                                       hover_name="States", color_discrete_sequence=['purple'],
                                       title="Bottom 10 RegisteredUsers from all States")
    presentation_amount_Sql5.show()

    query6 = f'''
    select states,district_name,
    avg(registers) as avg_registered_users
    from {sql}
    group by states, district_name;'''

    Mycursor.execute(query6)
    sql6 = Mycursor.fetchall()
    connection.commit()

    DFQ6 = pd.DataFrame(sql6, columns=("States", "District", "RegisteredUsers"))
    DFQ6.index = range(1, len(DFQ6) + 1)

    presentation_amount_Sql6 = py.bar(DFQ6, x="District", y="RegisteredUsers",
                                       hover_name="States", color_discrete_sequence=['purple'],
                                       title="Average RegisteredUsers from all States")
    presentation_amount_Sql6.show()

    Mycursor.close()
    connection.close()

In [ ]:
#Chart - Questions and Answers
def Get_ALLChart_Appopens(sql, state = None):
    connection = psycopg2.connect(
        database="PhonePe",
        user="postgres",
        password="kk07ch30",
        host="localhost",
        port="5432"
    )

    Mycursor = connection.cursor()

    query1 = f'''
    select states,district_name,
    sum(appopens) as total_appopens
    from {sql}
    where states = '{state}'
    group by states, district_name
    order by total_appopens desc
    limit 10;'''

    Mycursor.execute(query1)
    sql1 = Mycursor.fetchall()
    connection.commit()

    DFQ1 = pd.DataFrame(sql1, columns=("States", "District", "AppOpens"))
    DFQ1.index = range(1, len(DFQ1) + 1)

    presentation_amount_Sql1 = py.bar(DFQ1, x="District", y="AppOpens",
                                      hover_name="States", color_discrete_sequence=['purple'],
                                      title=f"Top 10 AppOpens from {state}")
    presentation_amount_Sql1.show()

    query2 = f'''
    select states,district_name,
    sum(appopens) as total_appopens
    from {sql}
    where states = '{state}'
    group by states, district_name
    order by total_appopens
    limit 10;'''

    Mycursor.execute(query2)
    sql2 = Mycursor.fetchall()
    connection.commit()

    DFQ2 = pd.DataFrame(sql2, columns=("States", "District", "AppOpens"))
    DFQ2.index = range(1, len(DFQ2) + 1)

    presentation_amount_Sql2 = py.bar(DFQ2, x="District", y="AppOpens",
                                       hover_name="States", color_discrete_sequence=['purple'],
                                       title=f"Bottom 10 AppOpens from {state}")
    presentation_amount_Sql2.show()

    query3 = f'''
    select states,district_name,
    avg(appopens) as avg_appopens
    from {sql}
    where states = '{state}'
    group by states, district_name;'''

    Mycursor.execute(query3)
    sql3 = Mycursor.fetchall()
    connection.commit()

    DFQ3 = pd.DataFrame(sql3, columns=("States", "District", "AppOpens"))
    DFQ3.index = range(1, len(DFQ3) + 1)

    presentation_amount_Sql3 = py.bar(DFQ3, x="District", y="AppOpens",
                                       hover_name="States", color_discrete_sequence=['purple'],
                                       width=1000, height=600, title=f"Average AppOpens from {state}")
    presentation_amount_Sql3.show()

    query4 = f'''
    select states,district_name,
    sum(appopens) as total_appopens
    from {sql}
    group by states, district_name
    order by total_appopens desc
    limit 10;'''

    Mycursor.execute(query4)
    sql4 = Mycursor.fetchall()
    connection.commit()

    DFQ4 = pd.DataFrame(sql4, columns=("States", "District", "AppOpens"))
    DFQ4.index = range(1, len(DFQ4) + 1)

    presentation_amount_Sql4 = py.bar(DFQ4, x="District", y="AppOpens",
                                       hover_name="States", color_discrete_sequence=['purple'],
                                       title="Top 10 AppOpens from all States")
    presentation_amount_Sql4.show()

    query5 = f'''
    select states,district_name,
    sum(appopens) as total_appopens
    from {sql}
    group by states, district_name
    order by total_appopens
    limit 10;'''

    Mycursor.execute(query5)
    sql5 = Mycursor.fetchall()
    connection.commit()

    DFQ5 = pd.DataFrame(sql5, columns=("States", "District", "AppOpens"))
    DFQ5.index = range(1, len(DFQ5) + 1)

    presentation_amount_Sql5 = py.bar(DFQ5, x="District", y="AppOpens",
                                       hover_name="States", color_discrete_sequence=['purple'],
                                       title="Bottom 10 AppOpens from all States")
    presentation_amount_Sql5.show()

    query6 = f'''
    select states,district_name,
    avg(appopens) as avg_appopens
    from {sql}
    group by states, district_name;'''

    Mycursor.execute(query6)
    sql6 = Mycursor.fetchall()
    connection.commit()

    DFQ6 = pd.DataFrame(sql6, columns=("States", "District", "AppOpens"))
    DFQ6.index = range(1, len(DFQ6) + 1)

    presentation_amount_Sql6 = py.bar(DFQ6, x="District", y="AppOpens",
                                       hover_name="States", color_discrete_sequence=['purple'],
                                       title="Average AppOpens from all States")
    presentation_amount_Sql6.show()

    Mycursor.close()
    connection.close()

In [ ]:
#Chart - Questions and Answers
def Get_AVGChart_Amounts(sql):
    connection = psycopg2.connect(
        database="PhonePe",
        user="postgres",
        password="kk07ch30",
        host="localhost",
        port="5432"
    )

    Mycursor = connection.cursor()

    query3 = f'''
    select states,
    avg(amounts) as "Transacation Amount"
    from {sql}
    group by states
    order by "Transacation Amount"'''

    Mycursor.execute(query3)
    Sql3 = Mycursor.fetchall()
    connection.commit()

    DFQ3 = pd.DataFrame(Sql3, columns= ("States", "Transacation Amount"))
    DFQ3.index = range(1,len(DFQ3) + 1)

    presentation_amount_Sql3 = py.bar(DFQ3, x="States", y="Transacation Amount", color_discrete_sequence=['purple'], title=f"Average Transaction Amounts from {sql}")
    st.plotly_chart(presentation_amount_Sql3)

In [30]:
import streamlit as st
import psycopg2

# Function to fetch payment modes and their counts for a given state
def get_payment_modes_counts(sql,state):
    connection = psycopg2.connect(
        database="PhonePe",
        user="postgres",
        password="kk07ch30",
        host="localhost",
        port="5432"
    )
    Mycursor = connection.cursor()
    query = f'''
    select states, 
    sum(counts) as count,
    payment_names
    from {sql}
    where states = '{state}'
    group by states,payment_names
    order by states
    '''
    Mycursor.execute(query)
    data = Mycursor.fetchall()
    connection.commit

    DFQ3 = pd.DataFrame(data, columns= ("States", "count", "payment_names"))
    DFQ3.index = range(1,len(DFQ3) + 1)

    presentation_payment = py.bar(DFQ3, x="States", y="payment_names", color_discrete_sequence=['purple'], title=f"Average Transaction Amounts from {sql}")
    st.plotly_chart(presentation_payment)

In [32]:
A_T_DF["Quarter"]

0       1
1       1
2       1
3       1
4       1
       ..
4309    4
4310    4
4311    4
4312    4
4313    4
Name: Quarter, Length: 4314, dtype: int64

## FINAL DATAFRAMES FOR STREAMLIT

In [24]:
#Aggregated Insurance
def DataFrame_S_C_A_by_year(DF, Year):
        output_Y = DF[DF["Years"]==Year]
        output_Y.reset_index(drop = True, inplace = True)

        output_Y_GroupBy = output_Y.groupby("States")[["Counts", "Amounts"]].sum()
        output_Y_GroupBy.reset_index(inplace = True)

        presentation_amount = py.bar(output_Y_GroupBy, x="States", y="Amounts", color_discrete_sequence=['purple'], title=f"{Year} - Bar Chart of Amounts by State")
        presentation_amount.show()

        presentation_count = py.bar(output_Y_GroupBy, x="States", y="Counts", color_discrete_sequence=['green'], title=f"{Year} - Bar Chart of Counts by State")
        presentation_count.show()
   


        url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
        response = requests.get(url)
        j_response = json.loads(response.content)

        state_list = []
        for info in j_response["features"]:
            state_list.append(info['properties']['ST_NM'])

        state_list.sort()

        presentation_India = py.choropleth(output_Y_GroupBy, geojson= j_response, locations= "States", 
                                           featureidkey= "properties.ST_NM", color= "Amounts", color_continuous_scale= "Rainbow", 
                                           range_color= (output_Y_GroupBy["Amounts"].min(), output_Y_GroupBy["Amounts"].max()),
                                           hover_name= "States", title= f"{Year} - Transaction Amount", fitbounds= "locations")
        
        presentation_India.update_geos(visible = False)
        presentation_India.show()

        presentation_India2 = py.choropleth(output_Y_GroupBy, geojson= j_response, locations= "States", 
                                           featureidkey= "properties.ST_NM", color= "Counts", color_continuous_scale= "Rainbow", 
                                           range_color= (output_Y_GroupBy["Counts"].min(), output_Y_GroupBy["Counts"].max()),
                                           hover_name= "States", title= f"{Year} - Transaction Count", fitbounds= "locations")
        
        presentation_India2.update_geos(visible = False)
        presentation_India2.show()

        return output_Y

In [25]:
#Aggregated Insurance
def DataFrame_S_C_A_by_Quarter(DF, Quarters):
        output_Y = DF[DF["Quarter"]==Quarters]
        output_Y.reset_index(drop = True, inplace = True)

        output_Y_GroupBy = output_Y.groupby("States")[["Counts", "Amounts"]].sum()
        output_Y_GroupBy.reset_index(inplace = True)

        presentation_amount = py.bar(output_Y_GroupBy, x="States", y="Amounts",
                                      color_discrete_sequence=['purple'],
                                        title=f"{output_Y["Years"].min()} YEAR, {Quarters} Quarter's - Bar Chart of Amounts by State")
        presentation_amount.show()

        presentation_count = py.bar(output_Y_GroupBy, x="States", y="Counts",
                                     color_discrete_sequence=['green'],
                                       title=f"{output_Y["Years"].min()} YEAR, {Quarters} Quarter's - Bar Chart of Counts by State")
        presentation_count.show()
   


        url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
        response = requests.get(url)
        j_response = json.loads(response.content)

        state_list = []
        for info in j_response["features"]:
            state_list.append(info['properties']['ST_NM'])

        state_list.sort()

        presentation_India = py.choropleth(output_Y_GroupBy, geojson= j_response, locations= "States", 
                                           featureidkey= "properties.ST_NM", color= "Amounts", color_continuous_scale= "Rainbow", 
                                           range_color= (output_Y_GroupBy["Amounts"].min(), output_Y_GroupBy["Amounts"].max()),
                                           hover_name= "States", title= f"{output_Y["Years"].unique()} YEAR {Quarters} - Transaction Amount", fitbounds= "locations")
        
        presentation_India.update_geos(visible = False)
        presentation_India.show()

        presentation_India2 = py.choropleth(output_Y_GroupBy, geojson= j_response, locations= "States", 
                                           featureidkey= "properties.ST_NM", color= "Counts", color_continuous_scale= "Rainbow", 
                                           range_color= (output_Y_GroupBy["Counts"].min(), output_Y_GroupBy["Counts"].max()),
                                           hover_name= "States", title= f"{output_Y["Years"].unique()} YEAR {Quarters} - Transaction Count", fitbounds= "locations")
        
        presentation_India2.update_geos(visible = False)
        presentation_India2.show()

        return output_Y

In [26]:
#Aggregated Transaction
def DataFrame_S_C_A_by_year2(DF, state):
    output_Y2 = DF[DF["States"] == state]
    output_Y2.reset_index(drop=True, inplace=True)

    output_Y2_GroupBy = output_Y2.groupby("Payment_names")[["Counts", "Amounts"]].sum()
    output_Y2_GroupBy.reset_index(inplace= True)


    fig_pie1 = py.pie(data_frame= output_Y2_GroupBy, names= "Payment_names", values= "Amounts",
                    title= f"{state.upper()} - Pie Chart of Amounts From Aggregated Transaction", hole= 0.5)
    fig_pie1.show()

    fig_pie2 = py.pie(data_frame= output_Y2_GroupBy, names= "Payment_names", values= "Counts",
                    title= f"{state} - Pie Chart of Counts From Aggregated Transaction", hole= 0.5)
    fig_pie2.show()

In [27]:
#Aggregated User
def DataFrame_S_C_A_by_year3(DF, Year):
    output_Y3 = DF[DF["Years"] == Year]
    output_Y3.reset_index(drop= True, inplace= True)

    output_Y3_GroupBy = pd.DataFrame(output_Y3.groupby("Brands")[["Counts", "Percentages"]].sum())
    output_Y3_GroupBy.reset_index(inplace= True)

    presentation_3_DF = py.bar(output_Y3_GroupBy, x="Brands", y="Counts",
                            color_discrete_sequence=['blue'],
                            title="Bar chart Of Brands And Counts for Aggregated User")

    presentation_3_DF.show()
    return output_Y3

In [28]:
#Aggregated User
def DataFrame_S_C_A_by_Quarter3(DF, Quarters):
    output_Y3_Q = DF[DF["Quarter"] == Quarters]
    output_Y3_Q.reset_index(drop= True, inplace= True)

    output_Y3_Q_GroupBy = pd.DataFrame(output_Y3_Q.groupby(["Brands", "States"])[["Counts"]].sum())
    output_Y3_Q_GroupBy.reset_index(inplace= True)


    presentation_3_DF_AU = py.bar(output_Y3_Q_GroupBy,
                                x="Brands", y="Counts",
                                color_discrete_sequence=['blue'],
                                hover_name = "States",
                                title=f"{output_Y3_Q["Years"].min()} YEAR {Quarters} Quarter's - Bar chart Of Brands And Counts")

    presentation_3_DF_AU.show()
    return output_Y3_Q

In [ ]:
result_DF_Y3 = DataFrame_S_C_A_by_year3(A_U_DF, 2018)

In [ ]:
result_DF_Y3Q = DataFrame_S_C_A_by_Quarter3(result_DF_Y3, 3)

In [29]:
#Aggregated User
def DataFrame_S_C_A_by_year3_State(DF, state):
    output_Y3_Q_S =  DF[DF["States"] == state]
    output_Y3_Q_S.reset_index(drop = True, inplace = True)

    presentation_3_S = py.line(output_Y3_Q_S, x = "Brands", y = "Counts", hover_data= "Percentages",
                            title = "Line Chart for Brands in States",
                            markers = True)

    presentation_3_S.show()

In [30]:
#Map Insurance
def DataFrame_D_C_A_by_year4(DF, state):
    output_Y4 = DF[DF["States"] == state]
    output_Y4.reset_index(drop=True, inplace=True)

    output_Y4_GroupBy = output_Y4.groupby("District_Name")[["Amounts", "Counts"]].sum()
    output_Y4_GroupBy.reset_index(inplace= True)


    fig_bar4 = py.bar(output_Y4_GroupBy,
                        x="Amounts", y="District_Name",
                        color_discrete_sequence=['blue'], orientation= "h",
                        hover_name = "District_Name",
                        title=f"{output_Y4["Years"].min()} YEAR, {state} States - Bar chart Of Amounts")
    
    fig_bar4.update_yaxes(tickfont=dict(size=7))
    fig_bar4.show()

    fig_bar4 = py.bar(output_Y4_GroupBy,
                        x="Counts", y="District_Name",
                        color_discrete_sequence=['blue'],
                        hover_name = "District_Name",
                        title=f"{output_Y4["Years"].min()} YEAR, {state} States - Bar chart Of Counts")
    
    fig_bar4.update_yaxes(tickfont=dict(size=7))
    fig_bar4.show()

In [31]:
#Map User
def DataFrame_S_C_A_by_year6(DF, Year):
    output_Y6 = DF[DF["Years"] == Year]
    output_Y6.reset_index(drop= True, inplace= True)

    output_Y6_GroupBy = pd.DataFrame(output_Y6.groupby(["States", "District_Name"])[["Registers", "AppOpens"]].sum())
    output_Y6_GroupBy.reset_index(inplace= True)
    output_Y6_GroupBy

    presentation_Y6 = py.line(output_Y6_GroupBy, x = "States", y = ["Registers", "AppOpens"], hover_data= "District_Name",
                                color_discrete_sequence=['blue', 'green'], title = "Line Chart for Registers & AppOpens",
                                markers = True)

    presentation_Y6.show()

    return output_Y6

In [32]:
#Map User
def DataFrame_S_C_A_by_Q6(DF, quarter):
    output_Q6 = DF[DF["Quarter"] == quarter]
    output_Q6.reset_index(drop= True, inplace= True)

    output_Q6_GroupBy = pd.DataFrame(output_Q6.groupby(["States", "District_Name"])[["Registers", "AppOpens"]].sum())
    output_Q6_GroupBy.reset_index(inplace= True)
    # output_Q6_GroupBy

    presentation_Q6 = py.line(output_Q6_GroupBy, x = "States", y = ["Registers", "AppOpens"], hover_data= "District_Name",
                                color_discrete_sequence=['blue', 'green'], title = f"{quarter} QUARTER - Line Chart for Registers & AppOpens",
                                markers = True)

    presentation_Q6.show()

    return output_Q6

In [33]:
#Map User
def DataFrame_D_C_A_by_state6(DF, state):
    output_S6 = DF[DF["States"] == state]
    output_S6.reset_index(drop=True, inplace=True)


        # output_Y4_GroupBy = output_Y4.groupby("District_Name")[["Amounts", "Counts"]].sum()
        # output_Y4_GroupBy.reset_index(inplace= True)


    Presentation_Reg_S6 = py.bar(output_S6,
                        x="Registers", y="District_Name",
                        color_discrete_sequence=['blue'], orientation= "h",
                        hover_name = "States",
                        title=f"{output_S6["Years"].min()} YEAR, States - Bar chart Of Register Users")

    Presentation_Reg_S6.update_yaxes(tickfont=dict(size=11))
    Presentation_Reg_S6.show()
    # st.plotly_chart(fig_bar_S6)


    Presentation_App_S6 = py.bar(output_S6,
                        x="AppOpens", y="District_Name",
                        color_discrete_sequence=['blue'], orientation= "h",
                        hover_name = "States",
                        title="Bar chart Of AppOppens")

    Presentation_App_S6.update_yaxes(tickfont=dict(size=11))
    Presentation_App_S6.show()

In [34]:
def DataFrame_S_C_A_by_State7(DF, states):
    output_Y7_Q = DF[DF["States"] == states]
    output_Y7_Q.reset_index(drop= True, inplace= True)

    output_Y7_Q_GroupBy = pd.DataFrame(output_Y7_Q.groupby("EntityName")[["Counts", "Amounts"]].sum())
    output_Y7_Q_GroupBy.reset_index(inplace= True)


    presentation7S = py.bar(output_Y7_Q,
                                x="Quarter", y="Amounts",
                                color_discrete_sequence=['blue'], height= 800, hover_data= "EntityName",
                                title=f"{output_Y7_Q["Years"].min()} YEAR, {output_Y7_Q["States"].min()} STATES - Bar chart Of Amounts")

    # st.plotly_chart(presentation7S)
    presentation7S.show()
    return output_Y7_Q

In [35]:
#Top User
def DataFrame_S_C_A_by_Year9(DF, year):
    output_Y9_Q = DF[DF["Years"] == year]
    output_Y9_Q.reset_index(drop=True, inplace=True)

    output_Y9_Q_GroupBy = pd.DataFrame(output_Y9_Q.groupby(["States", "Quarter"])["RegisteredUsers"].sum())
    output_Y9_Q_GroupBy.reset_index(inplace=True)

    presentation9 = py.bar(output_Y9_Q_GroupBy, x="States", y="RegisteredUsers", color="Quarter",
                            title=f"{output_Y9_Q['Years'].min()} YEAR - Bar chart Of Registered Users",
                            labels={"RegisteredUsers": "Registered Users"},
                            color_discrete_map={1: "blue", 2: "green", 3: "red", 4: "orange"},
                            hover_name= "States")

    presentation9.show()

    # st.plotly_chart(presentation9)
    return output_Y9_Q

In [36]:
def DataFrame_S_C_A_by_S9(DF, state):
    output_S9 = DF[DF["States"] == state]
    output_S9.reset_index(drop= True, inplace= True)


    presentation_S9 = py.bar(output_S9, x = "Quarter", y = "RegisteredUsers",
                            title= "Bar chart for Registered Users", color="RegisteredUsers",
                            color_discrete_map={1: "blue", 2: "orange", 3: "red", 4: "green"},
                            hover_data= "EntityName")

    presentation_S9.show()
    # st.plotly_chart(presentation_S9)

    # return output_S9

In [ ]:
DataFrame_S_C_A_by_year3_State(result_DF_Y3Q, "Andaman & Nicobar")

In [ ]:
result_DF_Y3Q

## Map Insu

In [ ]:
result_DF_Y4 = DataFrame_S_C_A_by_year(M_I_DF, 2023)

In [ ]:
result_DF_Y4

In [ ]:
DataFrame_D_C_A_by_year4(result_DF_Y4, "Tamil Nadu")

In [ ]:
result_DF_Y4_Q = DataFrame_S_C_A_by_Quarter(result_DF_Y4, 3)

In [ ]:
DataFrame_D_C_A_by_year4(result_DF_Y4_Q, "Tamil Nadu")

In [ ]:
M_I_DF

## Map Tran

In [ ]:
result_DF_Y5 = DataFrame_S_C_A_by_year(M_T_DF, 2023)

In [ ]:
DataFrame_D_C_A_by_year4(result_DF_Y5, "Tamil Nadu")

In [ ]:
result_DF_Y5_Q = DataFrame_S_C_A_by_Quarter(result_DF_Y5, 3)

In [ ]:
DataFrame_D_C_A_by_year4(result_DF_Y5_Q, "Tamil Nadu")

In [ ]:
M_T_DF

## Map User

In [ ]:
result_DF_Y6 = DataFrame_S_C_A_by_year6(M_U_DF, 2020)

In [ ]:
result_DF_Y6

In [ ]:
result_DF_Y6_Q = DataFrame_S_C_A_by_Q6(result_DF_Y6, 2)

In [ ]:
result_DF_Y6_Q

In [ ]:
result_DF_S6 = DataFrame_D_C_A_by_state6(result_DF_Y6_Q, "Darjiling District")

In [96]:
result_DF_S6

In [ ]:
M_U_DF["States"].unique()

## Top Insu

In [ ]:
result_DF_Y7 = DataFrame_S_C_A_by_year(T_I_DF, 2023)

In [ ]:
result_DF_Y7

In [ ]:
DataFrame_S_C_A_by_State7(result_DF_Y7, "West Bengal")

In [ ]:
result_DF_Y7_Q = DataFrame_S_C_A_by_Quarter(result_DF_Y7, 3)

In [ ]:
T_I_DF

## Top Tran

In [ ]:
result_DF_Y8 = DataFrame_S_C_A_by_year(T_T_DF, 2023)

In [ ]:
DataFrame_S_C_A_by_State7(result_DF_Y8, "West Bengal")

In [ ]:
result_DF_Y8_Q = DataFrame_S_C_A_by_Quarter(result_DF_Y8, 3)

In [ ]:
T_T_DF

## Top User

In [ ]:
result_DF_Y9 = DataFrame_S_C_A_by_Year9(T_U_DF, 2021)

In [ ]:
result_DF_Y9

In [ ]:
DataFrame_S_C_A_by_Year9(result_DF_Y9, 2021)

In [ ]:
T_U_DF

## NEXT video num 39